<ion-view view-title="Bespisning">
  <ion-content>
<div class="margin">
Alt spisning foregår igen i år på den skole hvor deltagerne er indkvarteret.<br />
Så derfor spises både morgenmad og aftensmad på den skole hvor deltagere har overnattet.<br />
<strong>AL SPISNING SKAL</strong> foregå på samme skole, som man overnatter på!
<br /><br />
<h5>Madsteder</h5>
Bording Skole, Engesvang skole, Præstelundskolen, Vestre Skole, Nordre skole og Hyldgårdskolen.
<br /><br />
<h5>Spisetider</h5>
Morgenmad serveres fra kl. 6.30 – 9.00
<br />
Frokost serveres i den hal man spiller i fra kl. 11.00 – 13.00
<br />
Aftensmad serveres fra kl. 17.00 – 20.00
<br /><br />
<h5>Morgenmåltider</h5> 
Franskbrød og rugbrød<br />
Havregryn og cornflakes<br />
Mælk og multifrugt/æblejuice<br />
Smør og ost i skiver<br />
Marmelade og pålæg<br />
<br />
<h5>Frokost</h5>
28-12-2017 Pastasalat m/kylling og brød, Rugbrød m/2 slags pålæg og smør<br />
29-12-2017 Pitabrød m/salat kylling/skinke, Rugbrød m/2 slags pålæg og smør<br />
<br />
<h5>Aftenmåltider</h5>
27-12-2017 Tortilla m/oksekød og grønt snackbar<br />
28-12-2017 Kylling a la creme m/ris og grønt snackbar<br />
29-12-2017 Burger m/pulled meet, coleslaw og grønt snackbar<br />
<br />
<h5>Sandwich til hjemrejsen</h5>
Det er muligt at bestille/købe sandwich til hjemrejsen via www.julecup.dk<br /> 
Der tilbydes med kylling/bacon og skinke / ost.<br />
De bestilte sandwich kan afhentes af en leder/træner i ”Skytterummet” i IBF Arena d. 30.12 i tidsrummet fra kl. 11.00-15.00<br />
</div>  
  </ion-content>
</ion-view>
