<ion-view view-title="Busplaner">
  <ion-content>
<div class = "list">
   <label class = "item item-input item-select item-light">
      <div class = "input-label">
         Bus1 vælg dag -
      </div>
		
      <select>
         <option selected>28-12-2018</option>
         <option>29-12-2018</option>
         <option>30-12-2018</option>
      </select>
		
   </label>

   <label class = "item item-input item-select item-stable">
      <div class = "input-label">
         Bus2 vælg dag -
      </div>
		
      <select>
         <option selected>28-12-2018</option>
         <option>29-12-2018</option>
         <option>30-12-2018</option>
      </select>
   </label>
      <label class = "item item-input item-select item-light">
      <div class = "input-label">
         Bus3 vælg dag -
      </div>
		
      <select>
         <option selected>28-12-2018</option>
         <option>29-12-2018</option>
         <option>30-12-2018</option>
      </select>
		
   </label>

   <label class = "item item-input item-select item-stable">
      <div class = "input-label">
         Bus4 vælg dag -
      </div>
		
      <select>
         <option selected>28-12-2018</option>
         <option>29-12-2018</option>
         <option>30-12-2018</option>
      </select>
   </label>
</div>
  </ion-content>
</ion-view>
