<ion-view view-title="Indkvartering">
  <ion-content>
<div class="margin">
<h5>Ankomst</h5>
Indkvarteringen finder sted i klasseværelser samt gymnastiksale, hvor deltagerne medbringer sovepose/dyne og underlag. Informationerne på alle skoler har åbent under hele stævnet.<br />
<br />
<h5>Deltagerkort</h5>
Klubberne får udleveret deres deltagerkort og informationsmappe på den skole, hvor man er indkvarteret. Dette kan ske fra kl. 16.00 til kl. 21.30 d. 27. december og igen fra kl. 6.30 til kl. 12.00 d. 28. december.<br />
<br />
OBS! Deltagerkort uden indkvartering skal afhentes på Stævnekontoret d. 28. december kl. 7.00 – 12.00
<br />
Stævnekontor adressen er:<br />
IBF Arena<br />  
Stadion Alle 2B<br /> 
7430 Ikast<br />
Op ad trappen til 3. sal (Mødelokale)
<br /><br />
<h5>Snackbar</h5>
På alle skoler, hvor vi har indkvartering, har vi indrettet en lille snackbar i Informationen for alle deltagere i Midtjysk Julecup.
I snackbaren er der et bredt udvalg af slik, chips, sodavand og slush ice.
<br />
<h5>Depositum</h5>
Der har desværre været flere tilfælde, hvor deltagere i Midtjysk Julecup har øvet hærværk på skolerne under stævnet. Regningerne løber efter stævnet op i adskillige tusinde kroner.
<br />
For at understrege kravet om ansvarligt opsyn under stævnet, skal alle klubber lægge et depositum på kr. 500,- pr. hold, dog max. kr. 2.500,- pr. klub som sikkerhed for dækning af eventuelle skader. Derudover vil der blive tilbageholdt kr. 350,-. ved udeblivelse fra kamp, se ”Spilleregler”.
Pengene indbetales ved tilmeldingen og tilbagebetales til klubben lige efter nytår, hvis lokalerne efter rengøring før afrejse kan godkendes af Midtjysk Julecups personale fra Informationen.
Husk at modtage en kvittering for aflevering af lokalet, ellers kan depositum ikke tilbagebetales.
<br />
<h5>Check ud</h5>
Indkvarteringsstederne samt skolens område skal være rengjorte og forladt senest kl. 09:30 den 30-12. Bagage kan derefter ikke opbevares på skolerne. Dette er af hensyn til vores rengøringsteam som starter rengøringen på skolerne kl. 9:00.
Da vi er meget afhængige af vort gode samarbejde med kommunen, beder vi alle klubber gøre ekstra rent den sidste dag inden afrejsen – dvs. lokalerne skal afleveres i samme stand som de blev modtaget i.
</div>
  </ion-content>
</ion-view>
