<ion-view view-title="Underholdning">
  <ion-content>
<div class="margin"
<h5>Svømmecentre</h5>
Igen i år kan Midtjysk Julecup tilbyde alle voredeltagere gratis adgang mod forevisning af de dertil designede adgangskort tilsvømme centrene.
<br />
Ta´ tid til en afslappende dukkert sammen med dineholdkammerater imellem kampene.<br />
<br />
Åbningstider i Ikast Svømmecenter (Frisenborgparken 24, 7430 Ikast)<br />
27. december kl. 10.00 – 18.00<br />
28. december kl. 10.00 - 18.00<br />
28. december kl. 18.30 - 21.30 (Swim by Night)<br />
29. december kl. 10.00 - 18.00<br />
30. december kl. 10.00 - 18.00<br /><br />
Åbningstider i Herning Svømmehal (Brændgårdsvej 20,7400 Herning))<br />
28. december kl. 6.00- 21.00<br />
29.december kl. 6.00- 19.00<br /><br />
Åbningstider i Brande Svømmehal (Ole Bendix Vej 1, 7330 Brande)<br />
27. december kl. 14.30 - 18.00<br />
28. december kl. 14.30 - 18.00<br />
29.december kl. 10.00 – 18.00<br /><br />

<h4>28. december</h4>
<h5>Swim Centre by Night</h5>
Igen i år vil der i Ikast Svømmecenter blivearrangeret "Swim Centre by Night" for alle vore deltagere.<br />
Her kan I opleve en fantastisk stemning, med musik og dæmpet lys, dog ikke mere end sikkerheden tillader. Ligeledes vil det være muligt at købe sig en forfriskning i cafeteriet.<br />
Ta’ en dukkert i de festlige omgivelser, med dine holdkammerater.<br />
Som noget specielt for denne aften vil festen vare for alle fra kl. 18.30 og indtil kl. 21.30 med efterfølgende busafgang tilbage til indkvarteringsstederne.<br />
Så kom og vær med til at gøre denne "Swim by Night" til nogetspecielt!!!<br />
Besøg i tropelandet kan kun ske mod forevisning af deltagerkort! (Gratis adgang).<br /><br />
<h4>29. december</h4>
<h5>Festaften</h5>
IBF arena danner rammer om tre parallelle fester for samtlige deltagere, men kunmod forevisning af deltagerkort/ledertræfbillet.<br />
Én for de yngste spillere. Én for de ældre spillere, samt én for lederne.<br />
En festlig og social oplevelse langt ud over det sædvanlige!!!<br /><br />
Hoppeland iIBF Arena - kl. 20.30 til 23.00<br />
Liv og glade dage for de yngste deltagere. Vi indretter hallen med hoppeborg, legeudstyr og boldspil.<br />
Diskotek i IBFArena - kl. 20.30 til 23.00<br />
Der danses og festes til de hotteste pop og rock numre.<br />
Ledertræf iIBF Arena - kl. 21.00 til 23.00<br />
Ledertræffet er stedet hvor vi mødes til en hyggelig aften med træner- oglederkolleger fra andre klubber.<br />
Gratis adgang for alle trænere og ledere - huskbillet. Til ledertræffet serveres lidt godt til ganen!<br />
Af hensyn til maden skal tilmeldingen til ledertræffet foretages i Informationeni på skolerne senest d. 28. december kl. 18.00.<br />
Vi ses til en festlig aften!<br /><br />
<h4>30. december</h4>
<h5>Finale stævne</h5>
Ca.2.000 deltagere danner en festlig rammeom hele finale arrangementet i IBF Arena i Ikast.<br />
Julecups fantastiske kampspeaker vil sammen med deltagerne skabe ensupersportslig stemning i hallen med musik, samt speakning ved indmarch ogfinaler.<br />
Finalens bedste fighter udvælges af fighterkomiteen i alle 10 finaler.<br />
Flotte præmier til vinderne!<br /><br />
<h5>Midtjysk Julecup mest vindende klub</h5>
Gratis deltagelse for 1 hold (max. 12 spillere og 2 trænere) i Midtjysk Julecup2016 - Værdi: DKK 9.879,-<br />
</div>
  </ion-content>
</ion-view>
