<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.myappmenu133359" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Midtjysk Julecup 2018</name>
  <description>
        Deltager App 2018
    </description>
  <author email="webmaster@julecup.dk" href="http://www.julecup.dk">
      MIdtjysk Julecup
    </author>
  <content src="index.html"/>
<icon src="icon.png" />
  <access origin="*"/>
  <access origin="https://nyside.julecup.dk" subdomains="true" />
  <access origin="http://code.jquery.com" subdomains="true" />
  <allow-intent href="*" />
  <allow-navigation href="*" />
  <access origin="content:///*" />
  <plugin name="cordova-plugin-inappbrowser" source="npm" />
	<plugin name="cordova-plugin-network-information" source="npm" />
	<plugin name="cordova-plugin-whitelist" source="npm" />
	<plugin name="cordova-plugin-splashscreen" source="npm" />
	<plugin name="cordova-plugin-device" source="npm" />
	<plugin name="cordova-plugin-statusbar" source="npm" />
	<plugin name="cordova-plugin-crosswalk-webview" spec="2.3.0" source="npm" />
	<plugin name="cordova-build-architecture" spec="https://github.com/MBuchalik/cordova-build-architecture.git#v1.0.1" source="git" />
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
<!--<gap:plugin name="onesignal-cordova-plugin" spec="^2.1.1" source="npm" /> -->
<plugin name="onesignal-cordova-plugin" spec="2.1.1" />
<!-- Requires cli-6.4.0 but we recommend using the latest version. -->
<preference name="phonegap-version" value="cli-7.0.1" />

<preference name="android-build-tool" value="gradle" />
<preference name="android-minSdkVersion" value="15" />

<!-- Can omit if not targetting Windows Phone -->
<preference name="windows-appx-target" value="8.1-phone" />
<preference name="WindowsToastCapable" value="true" />
</widget>
